{% extends renderHtml ? '_base.html.twig' : '_base.text.twig' %}

{% block content %}
  <h1>Official Donation Receipt</h1>

  <p>Thank you for supporting {{ charityName }} with your generous gift through Big Give.<p>

  {% if campaignThankYouMessage %}
    <p>A message from {{ charityName }}:</p>
    <blockquote>{{ campaignThankYouMessage | nl2br }}</blockquote>
  {% endif %}

  <h2>Tax receipt for your gift to {{ charityName }}</h2>

  <p>
    Thank you for your gift to {{ charityName }}, for the "{{ campaignName }}" campaign.
    {% if currencyCode is same as('USD') %}
      {{ charityName }} is a U.S. public charity within the meaning of Sections 501(c)(3) and 509(a)(1) of the Internal
      Revenue Code, with EIN {{ charityNumber }}.
    {% elseif currencyCode is same as('GBP') %}
      {% if charityNumber is empty %}
        {{ charityName }} is an exempt charitable organisation eligible for UK Gift Aid.
      {% else %}
        {{ charityName }} is registered with the {{ charityRegistrationAuthority }} with charity
        number {{ charityNumber }}.
      {% endif %}
    {% endif %} {# else another currency than USD/GBP => no tax details for now. #}
    This receipt certifies that no goods or services were provided in return for your contribution.
  </p>

  <ul>
    {% include 'donation-details-partial.html.twig' with {
      'donationAmount': donationAmount,
      'donationDatetime': donationDatetime,
      'donorName': donorFirstName ~ ' ' ~ donorLastName,
      'charityName': charityName,
      'totalCharityValueAmount': totalCharityValueAmount,
      'currencyCode': currencyCode,
      'giftAidAmountClaimed': giftAidAmountClaimed,
      'matchedAmount': matchedAmount,
    } only %}
  </ul>

  <p>
    Donation reference: <strong>{{ transactionId }}</strong><br>
    {% if paymentMethodType is same as('card') %}
      Reference on credit/debit card statement: {{ statementReference }}
    {% endif %}
  </p>

  {% if tipAmount > 0 %}
    <p>Thank you for leaving a tip of <strong>{{ tipAmount | format_currency(currencyCode) }}</strong> toward Big Give. We are a charity too, and your donation helps us to keep developing the platform and to run match funding campaigns. Thank you for your support.</p>
  {% endif %}

  <p>Total amount you have been charged is <strong>{{ totalChargedAmount | format_currency(currencyCode) }}</strong>.</p>

  {% if createAccountUri is not empty %}
    <p>For a smoother giving experience, create a Big Give account. Your information will be saved
    securely, making future donations quicker and easier.</p>
    <p><strong><a href="{{ createAccountUri }}">Create a Big Give donor account</a></strong>.</p>
  {% endif %}

  <div id="charity-details">
    {% if charityLogoUri is empty %}
      <h2>{{ charityName }}</h2>
    {% else %}
      <h2><img src="{{ charityLogoUri }}" alt="{{ charityName }}" width="200"></h2>
    {% endif %}

    <ul>
      <li>
        <p>{{ charityName }}</p>
        <p>{{ charityPostalAddress }}</p>
      </li>
      {% if charityPhoneNumber is not empty %}
        <li>Tel: {{ charityPhoneNumber }}</li>
      {% endif %}
      {% if charityEmailAddress is not empty %}
        <li>Email: {{ charityEmailAddress }}</li>
      {% endif %}
      {% if charityWebsite is not empty %}
        <li>Web: <a href="{{ charityWebsite }}">{{ charityWebsite }}</a></li>
      {% endif %}
    </ul>
  </div>

  <p>If you have any questions, please contact us.</p>
{% endblock %}
{% block cardDetailsHeldByStripe %}
{% if paymentMethodType is same as('card') %}
  {# If it was customer_balance then it would not make sense to talk about card details here. #}
  <p>Your card details are held securely by Stripe. We do not have access to your card details.</p>
{% endif %}
{% endblock %}
