{% extends renderHtml ? '_base.html.twig' : '_base.text.twig' %}

{% block content %}
  <p>Dear {{ pledgerFirstName }},</p>

  <p>Thank you for your generous match funding pledge of {{ pledgeAmount | format_currency(currencyCode) }} to {{ charityName }} for the campaign: {{ campaignName }}. You will be asked to fulfill your pledge promise after the campaign closes on {{ campaignEndDate }}, and by {{ campaignPledgeSubmissionDeadline }}.</p>

  <p>Please note that by pledging your support at this stage, <strong>you must not make an online donation to {{ charityName }} during the {{ campaignName }} campaign from {{ campaignStartDate }} &ndash; {{ campaignEndDate }}</strong>. You must pay your pledge directly to {{ charityName }} after the campaign has ended, in any payment method that is convenient for you.</p>

  <p>Thank You for your Pledge.</p>
{% endblock %}
